@import url('./import.css');

$spacing: 1em;

body {
    & > div > div {
        padding: $spacing;
        margin: $spacing;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
        color: black;
        &:hover {
            background-color: white;
        }
    }
}