@import url('./import.scss');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
    background: black;
    background-image: url('./background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    height: 100%;
}

.flextest {
    display: flex;
}

