<div>
    This is a tester
</div>

<div class="printme"></div>

<div class="flextest">
    <div>One</div>
    <div>Two</div>
</div>

<div class="sasstest">
    SASS Works!
</div>

<div>
    Typescript: <span class="typescripttest"></span>
</div>

<div>
    Materialize:

    <div class="card">
        <div class="card-content">
            <span class="card-title">Card Title</span>
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
                little markup to use effectively.</p>
        </div>
        <div class="card-action">
            <a href="#">This is a link</a>
            <a href="#">This is a link</a>
        </div>
    </div>
    
    <div class="progress">
        <div class="indeterminate"></div>
    </div>

    <a class="waves-effect waves-light btn toastme"><i class="material-icons left">cloud</i>Toast Me!</a>
</div>